.cell-input {
    position: absolute;
    box-sizing: border-box;
    border: 2px solid rgb(30, 120, 255);
}
td {
    border: 1px solid rgb(179, 179, 179);
    height: 20px;
    vertical-align: middle;
    white-space: nowrap;
    width: 70px;
}
th {
    border: 1px solid rgb(156, 156, 156);
    background-color: rgb(226, 226, 226);
    padding: 0 10px;
}
table {
    border-collapse: collapse;
    position: relative;
}
